Q1. Why do we call Python as a general purpose and high-level programming language? Ans. Python is a general purpose langauge because It can be used for a wide variety of development task and broadly appllicable accross multiple domains and has the specialized feature for specific domains such as Machine learing,Data science,Cloud computing,AI,IOT ,Web Framework such as Django and flask ,App development such as Kivy.

-Python is also called as High level language because It's Synatx is very small,clear and human readable/understandable. It enables development of a program in a much more user-friendly programming context and is generally independent of the computer's hardware architecture.

Q2. Why is Python called a dynamically typed language?
Ans.We don't have to declare the type of variable while assigning a value to a variable in Python.
When we don't declare the type of variable, It states runtime variable of the program.
Python also take cares of the memory management which automatically. So, Python is a dynamically typed language.
Example:
As In bellow example you can see we don't have to  declare the type of variable in the program.Python will automatically recognize the type of variable with the help of the value in the runtime.

In [1]:
x=2.3
print(type(x))
x=[1,2,3,4]
print(type(x))

<class 'float'>
<class 'list'>

Q3. List some pros and cons of Python programming language?
Pros:
1.User Friendly-due to its smaller ,clear and human readable synatx including the indentation.
2.Large Community-large no of developer preferring Python embedded with multiple framework such as web      ,application,forecasting/prediction with less code.
3.Flexible and Extensible-Flexible  and extensible for multiple domain and embedded framworks as It has the scripiting capabilities.
4.Rich Library
5.Highly scalable:Multiple companies such as Instagram,Facebook etc uses Python  that defines the scalability.
6.Object oriented - Everything is treated as Object in Python because every entity has a metadata and associated functionality.
7.Potable:It follos WORA(wite once run anywhere) Principle that makes easier for devlopers to work with.\n",
Cons:
1. Complicated design-As it embedded with Multiple big domains.
2. Slower than Compiled Languages-requires lot of cmputational power     
3. Security-not secure fully.Need a right Quality assurance testing can fix it.
4. Work Environment-need IDE for better work enviornment.
5. Memory Consumption and Garbage Collection-It usuage a high memory .which leads to loss of memory as uses reference counting mechanism.
6. Python is Dynamically Typed-We dont have to declare the datatype of the variables.
7. Multithreading in Python -Not 100% True,does not have treads which run at the same time.

Q4. In what all domains can we use Python?
Ans.Machine learning(data prediction and forecasting future using Time series)
IOT-can embadded with Python.
Cloud computing-as a language,as a computational weapon in rescent cloud technologies.
Scientific computing
Artificaial Intelligence
GUi/Application frameworks(Kivy)
Web Freameworks(Flask,Django)
Web Scrapping
Test Frameworks(Robert Framewoks)

Q5. What are variable and how can we declare them?
Ans. i.Variable is Symbolic name or reserved memory location which holds the value or reference to an object.once object is assigned to the variable we can refer to that object which is stored in memory using that variable name.

ii.There are some Rule to be follow while declaring the variable name-
   .must start with a letter or underscore character
   .can not start with a number.
   .Only contains Alphanumeric character(0-10,A-Z/a-z,_)
   .Case sensetive(age,AGE,Age are three different variable)

iii.We don't have to declare the type of variable while assigning a value to a variable in Python.It's automatically Identify the type of that perticular variable.So It is called dynamically typed.
For Example:
Int_var=10 (Variable with Integer type)
Float_var=2.334(variable with float type)
List=[1,2,3,4,5] (variable with list type),etc.

Q6. How can we take an input from the user in Python?
Ans. In python we can take input using input() function which is bydefault take string as input.
for Example:
   input1 = input("Enter the name") #String type
   int_input=int(input("Enter the age)) #Int type
   float_input=float(input("Enter your cgpa")) #Float type
ii.In python It is possible to take user input for multiple variable in asingle line
Example: age,name=int(input("enter the age")),input("Enter the name")
iii.we can use split function and list comprehension
Example: a,b,c=input("enter three variables).split()
         list1=list(map(int,input("enter the list values").split(",")))

Q7. What is the default datatype of the value that has been taken as an input using input() function?
Ans. String Type is the default datatype of the value that has been taken as an input using input() function
For Example:

In [2]:
name=input("Enter the name : ")
print(type(name))

Enter the name : abeg
<class 'str'>

Q8. What is type casting?
Ans. i. Conversion of one data type into anthor data type is called Type casting .
ii.In python we can use multiple predefined function such as 
int(),str(),float(),list(),tuple(),set(),dict(),ord() 
etc. as shown in below example.

In [3]:
int_type=int(input("enter the value : "))
print(type(int_type))
float_type=float(input("enter the value : "))
print(type(float_type))
print(float(int_type))#int to float conversion
str_conv=str(float_type)#foat to str conversion
print(type(str_conv))

enter the value : 1
<class 'int'>
enter the value : 12.4
<class 'float'>
1.0
<class 'str'>

Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?
Ans.In python it is possible to take more than one input using single input() function.
i.using split()
example:  a,b,c=int(input("Enter the three values")).split()
ii.using List comprehension
example:list1=list(map(int,input("enter the list values").split(",")))

In [4]:
a,b,c=input("Enter the three values").split(" ")
print(a,b,c)

Enter the three valuesashik ashis abeg
ashik ashis abeg

In [5]:
list1=list(map(int,input("enter the list values").split(",")))
print(list1)

enter the list values1,2,3,4,5
[1, 2, 3, 4, 5]

Q10. What are keywords? Ans. Keyword are the reserved words can not used as variable name,function name and others identifiers.For example if,else,for,while,break,continue etc. Example: def message_function(): #def is a keyword which can not be used as variable name,class name,function name etc.

Q11. Can we use keywords as a variable? Support your answer with reason.
Ans. i.No,we can not use keywords as a variable.Keywords are used to define the syntax and structure of the python programming language.
ii.If we try to define the keyword as variable,then Python interpreter will give synatx error.

Q12. What is indentation? What's the use of indentaion in Python?
Ans. Indentation refers to the spaces at the beginning of a code line.
Python indentation refers to adding white space before a statement to a particular block of code. In another word, all the statements with the same space to the right, belong to the same code block.

ii.Without properly indenting the Python code, we will end up seeing IndentationError and the code will not get compiled.

iii.In Python,Indentation defined as Tab(4 spaces of keyboard)

Q13. How can we throw some output in Python?
Ans.Print() - Print Function is a Ouput function which prints message or other standard output to the screen in python.

Q14. What are operators in Python?
Ans. i.Operators are used to perform operation on variables and values.
Example: a,b=1,2
         print(a+b) ,where + is an arithmatic operator.
ii.Operator Types:
         1.Arithmatic Operator(+,-,*,**,/,//,%)
         2.Logical Operator(and,or,not)
         3.Bitwise Operator(&,|,^,~,<<,>>)
         4.Membarship Operator(in,not in)
         5.Assignment Opeartor(=,+=,-=,*=,/=,//=,%=,**=,&=,|=,^=,~=,<<=,>>=)
         6.Identity Operator(is ,is not)
         7.Comparision Operator(<,>,==,<=,<=,!=)

Q15. What is difference between / and // operators?
Ans.i. / - is an arithmatic operator Which is used to perform division operation with floating points value.
ii.// - is an arithmatic operator used to division with rounded value.It round to its before nerest possible in range 0.5).

Q16. Write a code that gives following as an output.

iNeuroniNeuroniNeuroniNeuron

In [ ]:
#Q16. Ans.
string_value='iNeuron' 
print(string_value * 4)

iNeuroniNeuroniNeuroniNeuron

In [ ]:
#Q17. Write a code to take a number as an input from the user and check if the number is odd or even.


def even_odd(num):
  if(num%2==0):
    return "even"
  else:
    return "odd"
user_num=int(input("Enter the no"))
print(user_num,'is',even_odd(user_num))

Enter the no5
5 is odd

Q18. What are boolean operator?
Ans. Bollean operator are the operator which holds two value such as.True or false. Example:x=True,y=False
Logical and comparision operator are referred as Boolean operator.
Example:

In [ ]:
#Q.18
a=20
b=30
print(a <= b)

True

Q19. What will the output of the following?

1 or 0  - 1

0 and 0  - 0

True and False and True  - False

1 or 0 or 0 -1

Q20. What are conditional statements in Python?
-There are following statements below which refered as conditional statements.
i.If condition:
    statement;
ii.elif condition:
    statement;
ii.else:
    statement;

Q21. What is use of 'if', 'elif' and 'else' keywords?
Ans. if- act as a keyword used for conditional statement in python having one and only condition.
Example:age=18
        if (age>=18):
           print("authorized for voting")
     elif - act as a keyword used for conditional statement in python having more than one condition to execute.
Syntax: if condition:
           statements
        elif condition:
           statements
        elif condition:
           statements
     else - act as keyword used for conditional statement in python if not any condition metioned is true in if-else/if-elif-else hierarchy then control goes to else block.
synatx: if condition:
           statements
        elif condition:
           statements
        else:
           statements

In [ ]:
#find out the greater of three no
a=10
b=40
c=30
if (a>b and a>c):
  print("a is greater")
elif (b>c):
  print("b is greater")
else:
  print("c is greater")

b is greater

In [ ]:
#Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".
def FindVote(age):
  if age >=18:
    return "I can Vote"
  else:
    return "I can't vote"
    

age=int(input("Enter the age of a person : "))
print(FindVote(age))

Enter the age of a person : 18
I can Vote

In [ ]:
#Q23. Write a code that displays the sum of all the even numbers from the given list.
'''
numbers = [12, 75, 150, 180, 145, 525, 50]
'''
def SumOfEven(numbers):
  sum=0
  for i in numbers:
    if i%2==0:
      sum=sum+i
  return sum


numbers = [12, 75, 150, 180, 145, 525, 50]
print("The sum of all even no in the given list is : ",SumOfEven(numbers) )

The sum of all even no in the given list is :  392

In [ ]:
#Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output.
def GreatestNo(a,b,c):
  if (a==b and b==c):
    print("all no's are equal")
  elif (a>b and a>c):
    print("a is greater")
  elif (b>c):
    print("b is greater")
  else:
    print("c is greater")

a=int(input("Enter the First No : "))
b=int(input("Enter the Second No : "))
c=int(input("Enter the Third No : "))
print(GreatestNo(a,b,c))

Enter the First No : 135
Enter the Second No : 235
Enter the Third No : 120
b is greater
None

In [ ]:
#Q25. Write a program to display only those numbers from a list that satisfy the following conditions

"""- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop
```
numbers = [12, 75, 150, 180, 145, 525, 50]
```
"""
def FindNumbers(numbers):
  for num in numbers:
    if(num%5==0):
      if (num>150):
        continue
      elif (num>500):
        break
      else:
        print(num)


numbers = [12, 75, 150, 180, 145, 525, 50]
print(FindNumbers(numbers))

75
150
145
50
None

Q26. What is a string? How can we declare string in Python?
Ans. String is a data type in python used to hold text data in it.
     We can delcare it using single Quote('') and double quotes("")
Satring Ttypes are immutable in Python which is default type for user input(). 
Example:
name="Abeg Patel"
address=input("enter your address")

Q27. How can we access the string using its index?
Ans. we can access the each data present in a string or full string using its index value which start from 0 to n-1 range.
Syntax:
val_str[Index value] -each character in a string 
val_str[Start value:stop value:step value]-number of character we want6 from a string

In [ ]:
#string example using fetching value from a string using it index
val_str="abegpatel"
print(val_str[0:9])

abegpatel

In [ ]:
#Q28. Write a code to get the desired output of the following
"""
string = "Big Data iNeuron"
desired_output = "iNeuron"
"""
string = "Big Data iNeuron"
string[-7:]

'iNeuron'

In [ ]:
#Q29. Write a code to get the desired output of the following
"""
string = "Big Data iNeuron"
desired_output = "norueNi"
"""
string = "Big Data iNeuron"
print(string[-1:8:-1])

norueNi

In [ ]:
#Q30. Resverse the string given in the above question.
string="Big Data iNeuron"
print(string[::-1])

norueNi ataD giB

Q31. How can you delete entire string at once?
Ans. using "del" keyword we can delete the entire string at once.
Syntax : del <string name>

string="Big Data iNeuron"
ntimes=string * 3
print(ntimes) #Big Data iNeuronBig Data iNeuronBig Data iNeuron
del string
ntimes=string * 3 #string is deleted
print(ntimes) #Error

Q32. What is escape sequence?
Ans. The characters that we can't insert into a string are called Illegal characters and these characters can modify the string. 
-The function of escape sequences is used to insert such characters into   the string without modifying the string.
-It is preceded by a backslash character(\)
Example-\n,\r,\t,\'

In [ ]:
#escape sequence
string = 'Hi!\'there'  
print ("By using \: ", string)  
string1='Hello\neveryone'
print(string1)
string2='How\tare\tyou'
print(string2)

By using \:  Hi!'there
Hello
everyone
How	are	you

In [ ]:
x='\000147'
print(x)

 147

In [ ]:
#Q33. How can you print the below string?
"""
'iNeuron's Big Data Course'
"""
string='iNeuron\'s Big Data Course'
print(string)

iNeuron's Big Data Course

Q34. What is a list in Python?
Ans. List is a sequential data type in python which is ordered and mutable data structures enclosed with a square bracket.Its can holds multiple type of values.
Syntax list=[1,"abeg",3,3.4]

Q35. How can you create a list in Python?
Ans. In python we can create a list using square bracket([]) which is capable of holds multiple types values at a time.
list_A=[1,"abeg",4.5,("a","b","c","d")]

Q36. How can we access the elements in a list?
Ans. we can access list element through it index and using list Comprehension.
Example:

In [ ]:
list=[1,2,3,4,5,6]
print(list[0])
print([i for i in list])

1
[1, 2, 3, 4, 5, 6]

In [ ]:
#Q37. Write a code to access the word "iNeuron" from the given list.
"""
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
"""
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

In [ ]:
#Q38. Take a list as an input from the user and find the length of the list.
def Findlen(list1):
  return len(list1)

list1 = [ i for i in input().split(" ")]
print("The length of the list is ",Findlen(list1))

1 2 3 4 5
The length of the list is  5

In [ ]:
#Q39. Add the word "Big" in the 3rd index of the given list.
"""
lst = ["Welcome", "to", "Data", "course"]
"""
lst = ["Welcome", "to", "Data", "course"]

lst.insert(2,"Big")
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

Q40. What is a tuple? How is it different from list?
Ans. Tuple is a Sequential data type which is ordered,immutable and allows duplicate values.It enclosed with a round bracket with value present such as int,char,str,list ect.
.It belongs to class 'tuple'
Syntax TupleA=("hi","how","are" ,"you")

In [ ]:
TupleA=("hi","how","are" ,'you')
print(type(TupleA))

<class 'tuple'>

Q41. How can you create a tuple in Python?
Ans. It enclosed with a round bracket with value present such as int,char,str,list ect.
Example: Tuple_Weather = ("temperature","pressure",("high","low"),("medium"))

In [ ]:
#Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.
#Ans. No we can not add our name in the tuple as it properties defines it is immutable or unchangable.But we  can add value to a mutable object with in a tuple.
info_tuple=('name',[])
info_tuple[1].append("abeg")
info_tuple

('name', ['abeg'])

In [ ]:
tup=(1,2,3)
print(type(tup))

<class 'tuple'>

In [ ]:
#Q43. Can two tuple be appended. If yes, write a code for it. If not, why?
#Ans. No we can not append tuple to anthor tuple due to its immutable property.But we can add/Concatenate two tuples and Multiply operation can be done.

tup1=("a","b","c")
tup2=("d","e","f")
print("addition result" ,tup1+tup2)
print("multiplication result",tup1*3)

addition result ('a', 'b', 'c', 'd', 'e', 'f')
multiplication result ('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [ ]:
#Q44. Take a tuple as an input and print the count of elements in it.
def FindCount(tup):
  count=0
  for i in tup:
    count+=1
  return count


tup=tuple(input("enter the tuple elements by ,").split(","))
print(tup)
print("count of element in the given tuple is",FindCount(tup))

enter the tuple elements by ,a,b,c,d,e
('a', 'b', 'c', 'd', 'e')
count of element in the given tuple is 5

Q45. What are sets in Python?
Ans. Set items are unordered, mutable and do not allow duplicate values. but we  can remove items and add new items.which enclosed with a curly bracket({}),It has predefined methods such as sum(),max(),min() etc.

Example:
set1={1,2,3,4,5,6,7,,8,9,10}

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10}
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Q46. How can you create a set?
Ans. We can create a set with curly brackets or using set() function
Example:set={1,2,,3,4,5,6}

In [ ]:
#creating a set example
set1= set()
set1.add('s')
set1

{'s'}

In [ ]:
#Q47. Create a set and add "iNeuron" in your set.
set1=set()
set1.add('iNeuron')
set1

{'iNeuron'}

In [ ]:
#Q48. Try to add multiple values using add() function.
set1 = set()
set1.add(1)
set1.add(2)
set1.add(3)
set1.add("e")
set1.update(("a","b","C"))
set1.add((("a","b"),("c","d")))
set1.update([5,6,3,4])
set1

{(('a', 'b'), ('c', 'd')), 1, 2, 3, 4, 5, 6, 'C', 'a', 'b', 'e'}

In [ ]:
#Q49. How is update() different from add()?
#Ans.Update:is used to add sequence/collection of element to the the given set where as
#where as add() method used to add one elemnet to the set.
set1=set()
set1.add(1)
set1.add(2)
set1.update([5,6,3,4])
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
#Q50. What is clear() in sets?
# For clearing the set we can use set predefined set.clear() method.

set1={1,2,3}
set1.clear()
print(set1)

set()

Q51. What is frozen set?
Ans. Frozen set is a immutable version of set in python.we can't modify the frozen set value.
-It be a anthor set,dictionary,tuple.
-It can be used as dictionary key.
Syn:
frozenset(iterable)

In [ ]:
#Frozen set example
s=[1,2,3,4,5,6,7,8]
fset=frozenset(s)
print("frozen set is",fset)
#fset.add(4) will get error as it is immutable
#used as dict key
dict1={"name":"abeg","age":18}
fset=frozenset(dict1)
print("frozen set is",fset)

frozen set is frozenset({1, 2, 3, 4, 5, 6, 7, 8})
frozen set is frozenset({'age', 'name'})

Q52. How is frozen set different from set?
Ans. sets are unordered and mutable collection of datastructure where as
     Frozen set-are unordered,immutable,unindexed collection of data.
     Example:
      set1=set()
      fset1=frozenset()

In [ ]:
#Q53. What is union() in sets? Explain via code.
#Ans union() is collection of set operation which is used to perform concatenation of two or moreset without duplicates value.
#Example:
set1={1,2,3}
set2={4,5,6}
set3={6,7,8}
set1.union(set2)
print(set1|set3)
print(set1)
set4=set.union(set1,set2,set3)
print(set4)

{1, 2, 3, 6, 7, 8}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#Q54. What is intersection() in sets? Explain via code.
#Ans. intersection() collection of set operation which is used to perform intersection which means common element from the set.
set1={1,2,3}
set2={3,1,6}
set3={6,7,1}
print("intersection value is",set1.intersection(set2))
print(set.intersection(set1,set2,set3))
print(set2&set3)

intersection value is {1, 3}
{1}
{1, 6}

Q55. What is dictionary in Python?
Ans. dictionary is a collection which is ordered, changeable and do not allow duplicates.
-It has key value pairs like a JSON format and we can easily map key with its value.
-

In [ ]:
thisdict = {
  "name":"abeg",
  "age":22,
  "cgpa":9.6
}
dict1=dict(name1="abeg",name2="ashik")
print(dict1)
print(thisdict["name"])
thisdict["address"] ="odisha"
print(thisdict)

{'name1': 'abeg', 'name2': 'ashik'}
abeg
{'name': 'abeg', 'age': 22, 'cgpa': 9.6, 'address': 'odisha'}

Q56. How is dictionary different from all other data structures.
Ans. Dictionary is ordered and mutable collection of data structure in python which can contains key-value pair rather than all other data structure contains values.Uisng dictioanry can map multiple source with multiple destination.and opeartion is vary fast as it uses hash table data structure.
syntax:
dict = {
  "name":"abeg",
  "age":22,
  "cgpa":9.6
}

Q57. How can we delare a dictionary in Python?
Ans. dict keys and values are separed by : and enclosed with a curly brackets.
Example:

In [ ]:
dict_e={"a":['apple','avogado'],"b":["ball","basket"]}
print(dict_e.keys())
print(dict_e.values())
print(dict_e.items())

dict_keys(['a', 'b'])
dict_values([['apple', 'avogado'], ['ball', 'basket']])
dict_items([('a', ['apple', 'avogado']), ('b', ['ball', 'basket'])])

Q58. What will the output of the following?
"""
var = {}
print(type(var))
"""
Ans.<class 'dict'>

Q59. How can we add an element in a dictionary?
Ans. we can add elemnet by two methods.
1..using = operator
synatx=my_dict['key']=value
2.using update method:
 syntx=my_dict.update({key:value})
using append method.
 syntax:my_dict['key'].append(value) #from a mutable object like a list

In [ ]:
my_dict={"name":"abeg","age":22}
my_dict.update({'address':'odisha'})
my_dict['pin']=770034
my_dict

{'name': 'abeg', 'age': 22, 'address': 'odisha', 'pin': 770034}

In [ ]:
#Q60. Create a dictionary and access all the values in that dictionary.
my_dict={"name":"abeg","age":22}
my_dict["address"]="R2c"
my_dict['pin']=770034
print(my_dict.values())

dict_values(['abeg', 22, 'R2c', 770034])

In [ ]:
#Q61. Create a nested dictionary and access all the element in the inner dictionary.
dict1={"state":"odisha","nationality":"indian"}
my_dict["identity"]=dict1
print(my_dict)
print(my_dict['identity'].values()) #printing values for inner loop

{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034, 'identity': {'state': 'odisha', 'nationality': 'indian'}}
dict_values(['odisha', 'indian'])

In [ ]:
#Q62. What is the use of get() function?
#Ans.In python get() function is used for fetching the value for a particular key and and if key and value is not present in dictionary it can hold the unexisting value which will not present in the dictionary.

print(my_dict)
x = my_dict.get("name")
print(my_dict)
print(x)
x = my_dict.get("price", 15000)
print(x)

{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034, 'identity': {'state': 'odisha', 'nationality': 'indian'}}
{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034, 'identity': {'state': 'odisha', 'nationality': 'indian'}}
abeg
15000

In [ ]:
#Q63. What is the use of items() function?
#Ans. items() in python retrun a view object.which contains key value pair of the dictionary in the form of tuple in a list.
print(my_dict)
print(my_dict.items())

{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034, 'identity': {'state': 'odisha', 'nationality': 'indian'}}
dict_items([('name', 'abeg'), ('age', 22), ('address', 'R2c'), ('pin', 770034), ('identity', {'state': 'odisha', 'nationality': 'indian'})])

In [ ]:
#Q64. What is the use of pop() function?
#Ans.pop() in python used for performing removal of an element from a list or removal of kay-value using its key for a dictionary.
#syntax: list.pop(index),dict.pop(key)

In [ ]:
#example pop()
my_list=[1,2,3,4,5]
print(my_list)
print(my_dict)
my_list.pop() #bydefault remove last element
print("after pop() in a list",my_list)
my_dict.pop('identity')
print(my_dict)

[1, 2, 3, 4, 5]
{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034, 'identity': {'state': 'odisha', 'nationality': 'indian'}}
after pop() in a list [1, 2, 3, 4]
{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034}

In [ ]:
#Q65. What is the use of popitem() function?
#Ans.popitem() is used for removal of last item in a dictionary.
print("before",my_dict)
my_dict.popitem()
print("after",my_dict)

before {'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034}
after {'name': 'abeg', 'age': 22, 'address': 'R2c'}

In [ ]:
#Q66. What is the use of keys() function?
#Ans. Keys() function in python is used to fetch the keys in a list of the dictionary.
print(my_dict)
print(my_dict.keys())

{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034, 'identity': {'state': 'odisha', 'nationality': 'indian'}}
dict_keys(['name', 'age', 'address', 'pin', 'identity'])

In [ ]:
#Q67. What is the use of values() function?
#Ans. values() is predefined method for adictionary used to fetch values in a list from a dictionary.
print(my_dict)
print(my_dict.values())

{'name': 'abeg', 'age': 22, 'address': 'R2c', 'pin': 770034, 'identity': {'state': 'odisha', 'nationality': 'indian'}}
dict_values(['abeg', 22, 'R2c', 770034, {'state': 'odisha', 'nationality': 'indian'}])

Q68. What are loops in Python?
Ans. Loops are the iterable object in python.which can be used to iterate through a collection(list,tuple,set,dictionary).we can use for and while loop.

Q69. How many type of loop are there in Python?
Ans.There are two types of loop in python.
In python we have
1.for loop:
synatx:for i in range(start,stop,step): (no of iteration is fixed)
         statement;
2.while loop:
synatx:while condition: (no of iteration is not fixed)
           statement
          increment/decrement

In [ ]:
#Q70. What is the difference between for and while loops?
#Ans. In for loop -no of iteration is fixed where as in while loop if we don't know how many iteration will we execuete can use while loop.
#printing 1 to 10 using for and while
for i in range(1,11):
  print(i,end="\n")
i=1
while(i<=10):
  print(i,end="")
  i+=1

1
2
3
4
5
6
7
8
9
10
12345678910

In [ ]:
#Q71. What is the use of continue statement?
#Ans. continue statement is used to skip the current execution for a for and while loop ,continues the next iteration
#Example:
for i in range(1,6):
  if i==3:#skip 3
    continue
  print(i)

1
2
4
5

In [ ]:
#Q72. What is the use of break statement?
#Ans. Break is used to stop the execution,terminate the loop and go out of loop.
#Example:
for i in range(1,6):
  if i==3:
    break;
  print(i)

1
2

In [ ]:
#Q73. What is the use of pass statement?
#Ans.Pass is a null operation and allows execution to continue at the next statement.Return exits the current function or method.
#It used for No execution whenever required for not getting any error
#Example:
for i in range(1,6):
  if i==3:
    pass; #nothing happened
  print(i)

1
2
3
4
5

#Q74. What is the use of range() function?
Ans. The range function returns a sequence of numbers as an output which has three parameter
start-bydefault is 0
stop-stop value
and  step-increment/decrement value

In [ ]:
#Example of range()
r_exp=range(10,101,6)
for i in r_exp:
  print(i)

10
16
22
28
34
40
46
52
58
64
70
76
82
88
94
100

Q75. How can you loop over a dictionary?
Ans. dictionary is a collection which is ordered, changeable and do not allow duplicates.we can loop over a dictionary for loop ,with key(),values() and items().

In [ ]:
#loop over dictionary
for i in my_dict:
  print(i)#printing all keys
  print(my_dict[i])#printing all values
for k,v in my_dict.items():
  print(k,v)

name
abeg
age
22
address
R2c
pin
770034
identity
{'state': 'odisha', 'nationality': 'indian'}
name abeg
age 22
address R2c
pin 770034
identity {'state': 'odisha', 'nationality': 'indian'}

In [ ]:
#Coding problems
#Q76. Write a Python program to find the factorial of a given number.
from functools import reduce
num=int(input("Enter the number : "))
fact=lambda a,b:a*b
x=reduce(fact,range(1,num+1))
print(x)

Enter the number : 5
120

In [ ]:
#Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100
SI=lambda p,t,r:p*t*r/100
p=int(input("enter the principal amount: "))
t=int(input("enter the time eperiod: "))
r=float(input("enter the rate of interst: "))
print("simple interest is",SI(p,t,r))

enter the principal amount: 2000
enter the time eperiod: 3
enter the rate of interst: 2
simple interest is 120.0

In [ ]:
#Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.
A=lambda P,R,t:P*(1+ (R/100))**t
p=int(input("enter the principal amount: "))
t=int(input("enter the time eperiod: "))
r=float(input("enter the rate of interst: "))
print("compound interest is",A(p,r,t)-p)

enter the principal amount: 1000
enter the time eperiod: 2
enter the rate of interst: 3
compound interest is 60.899999999999864

In [ ]:
#Q79. Write a Python program to check if a number is prime or not.
num=int(input("enter a number"))
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print("The number {} is not a prime no".format(num))
            break;
    else:
        print("The number {} is a prime no".format(num))
else:
  print("The number {} is not a prime no".format(num))

0
The number 0 is not a prime no

In [ ]:
#Q80. Write a Python program to check Armstrong Number.
num=temp=int(input("enter a number"))
sum=0
while (temp>0):
  d=temp%10
  sum=sum+d**3
  temp//=10
if(num==sum):
  print(num,"is an armstrong no")
else:
  print(num,"is not an armstrong no")

enter a number371
371 is an armstrong no

In [ ]:
#Q81. Write a Python program to find the n-th Fibonacci Number.
def fibo(n):
  a=0
  b=1
  if n<0:
    print("input is incorrect")
  elif n==0:
    return a
  elif n==1:
    return b
  else:
    for i in range(2,n+1):
      c = a+b
      a = b
      b = c
    return c
n=int(input("enter the no."))
print("nth fibonancci no is : ",fibo(n))

enter the no.12
nth fibonancci no is :  144

In [ ]:
#Q82. Write a Python program to interchange the first and last element in a list.
my_list=[1,2,3,4,5,6]
my_list[0],my_list[-1] = my_list[-1],my_list[0]
my_list

[6, 2, 3, 4, 5, 1]

In [ ]:
n=len(my_list)
temp=my_list[0]
my_list[0]=my_list[n-1]
my_list[n-1]=temp
my_list

[6, 2, 3, 4, 5, 1]

In [ ]:
#Q83. Write a Python program to swap two elements in a list.
 #sawpping pos1
n=int(input('enter the postion from'))
n1=int(input('eneter the position to'))
my_list=[1,2,3,4,5]
#swapping of two elements 
my_list[n-1],my_list[n1-1]=my_list[n1-1],my_list[n-1]
print(my_list)

enter the postion from1
eneter the position to5
[5, 2, 3, 4, 1]

In [ ]:
#Q84. Write a Python program to find N largest element from a list.
#max(my_list)
def Findlarge(my_list):
 max=my_list[0]
 for i in range(len(my_list)):
   if my_list[i]>max:            
     max=my_list[i]
 return max


my_list = list(map(int,input().split(",")))
print(my_list)
print("the largest element is",Findlarge(my_list))

101,34,5,678,463,846,756
[101, 34, 5, 678, 463, 846, 756]
the largest element is 846

In [ ]:
#Q85. Write a Python program to find cumulative sum of a list.

def findcumsum(my_list):
  cumlist=[]
  sum=0
  for i in my_list:
    sum+=i
    cumlist.append(sum)
  return cumlist
  

my_list=[50,100,200,300]
print("The cumulative sum of the given list is",findcumsum(my_list))

The cumulative sum of the given list is [50, 150, 350, 650]

In [ ]:
#Q86. Write a Python program to check if a string is palindrome or not.
def Findpallindrome(n):
  temp=n
  r=0
  while(n>0):
    d=n%10
    r=r*10+d
    n=n//10
  print(r)
  if(temp==r):
    flag=True
  else:
    flag=False
  return flag
num=int(input("enter the number"))
if(Findpallindrome(num)):
  print("The No is pallindrome")
else:
  print("The No is not a pallindrome")

enter the number121
121
The No is pallindrome

In [ ]:
#Q87. Write a Python program to remove i'th element from a string.
def RemoveIelement(mystring,i):
  bef_eles=mystring[:i]
  aft_eles=mystring[i+1:]
  return bef_eles+aft_eles

mystring=input("eneter the string")
i=int(input("enter the index you want to remove"))
print("After removal the string is ",RemoveIelement(mystring,i))

eneter the stringabegpatel
enter the index you want to remove5
After removal the string is  abegptel

In [ ]:
#Q88.
def FindSubstr(mystring,substr):
  return mystring.find(substr)


mystring = input("Enter the string")
substr = input("enter the sub str")
print(FindSubstr(mystring,substr))
if(FindSubstr(mystring,substr)):
  print("The ",substr," is a part of ",mystring)
else:
  print("The ",substr," is NOT a part of ",mystring)

Enter the stringsftpbudgdk
enter the sub strpbud
3
The  pbud  is a part of  sftpbudgdk

In [ ]:
#Q89. Write a Python program to find words which are greater than given length k.
def LenkGreater(mystring,k):
  mylist=[]
  words=mystring.split()
  for i in words:
    if(len(i)>k):
      mylist.append(i)
  return mylist
 

mystring = input("Enter the string ")
k=int(input("Enter the k value "))
print(k ,"length greater words are : ")
for i in LenkGreater(mystring,k):
  print(i)

Enter the string how are you man have a good day
Enter the k value 3
3 length greater words are
have
good

In [ ]:
#Q90. Write a Python program to extract unquire dictionary values.
def ExtractUnique(mydict):
  myset=set()
  for i in mydict.values():
    for j in i:
      myset.add(j)
  return myset


mydict = {
    "list1":[1,2,3,4,5],
    "list2":[2,3,6,9,1],
    "list3":[9,4,0,7,1]
}
print(mydict)
print("Unique values are : ")
for i in ExtractUnique(mydict):
  print(i)

{'list1': [1, 2, 3, 4, 5], 'list2': [2, 3, 6, 9, 1], 'list3': [9, 4, 0, 7, 1]}
Unique values are :
0
1
2
3
4
5
6
7
9

In [ ]:
#Q91. Write a Python program to merge two dictionary.
dict1={"name":"abeg","age":22}
dict2={"email":"abegpatel@gmail.com","pin":770034}
print(dict1)
print(dict2)
dict1.update(dict2)
print(dict1)

{'name': 'abeg', 'age': 22}
{'email': 'abegpatel@gmail.com', 'pin': 770034}
{'name': 'abeg', 'age': 22, 'email': 'abegpatel@gmail.com', 'pin': 770034}

In [ ]:
#Q92. Write a Python program to convert a list of tuples into dictionary.
"""
Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}
"""

def OutFunc(input):
  return dict(input)

input=[('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
print("The output is ",OutFunc(input))

The output is  {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [ ]:
#Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.

"""
Input: list = [9, 5, 6]
Output: [(9, 729), (5, 125), (6, 216)]
"""
list1 = [9, 5, 6]
cube_No=lambda x:x**3
x= map(cube_No,list1)
output=[(i,j) for i in list1 for j in x]
print(output)

[(9, 729), (9, 125), (9, 216)]

In [ ]:
#Q94. Write a Python program to get all combinations of 2 tuples.
"""
Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
"""
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
output=[(i,j) for i in test_tuple1 for j in test_tuple2] + [(j,i) for i in test_tuple1 for j in test_tuple2]
print(output)

[(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (8, 7), (7, 2), (8, 2)]

In [ ]:
#Q95. Write a Python program to sort a list of tuples by second item.
"""
Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]
"""
Input = [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Input.sort(key=lambda x:x[1])
print(Input)

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [ ]:
#Q96. Write a python program to print below pattern.
"""
* 
* * 
* * * 
* * * * 
* * * * * 
"""
r=int(input("enter the no of rows"))
for i in range(0,r):
  for j in range(0,i+1):
    print("*",end="")
  print("\r")

enter the no of rows5
*
**
***
****
*****

In [ ]:
#Q97. Write a python program to print below pattern.
"""
    *
   **
  ***
 ****
*****
"""
r=int(input("enter the no of rows"))
for i in range(r+1):
  print(" " * (r-i) + "*" * i )

enter the no of rows5

    *
   **
  ***
 ****
*****

In [ ]:
#Q98. Write a python program to print below pattern.
"""
    * 
   * * 
  * * * 
 * * * * 
* * * * * 
"""
def pattern(n):
  sp = n - 1
  for i in range(0, n):
    for j in range(0, sp):
          print(end=" ")
    sp = sp - 1
    for _ in range(0, i+1):
      print("* ", end="")
    print("\r")
print(pattern(5))

    *
   * *
  * * *
 * * * *
* * * * *
None

In [7]:
#Q99. Write a python program to print below pattern.
"""
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
"""

n=int(input("enter the no of row"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print('\r')

enter the no of row5
1
12
123
1234
12345

In [ ]:
#Q100. Write a python program to print below pattern.
"""
A 
B B 
C C C 
D D D D 
E E E E E 
"""
n=int(input("enter the no of row"))
A=65
for i in range(1,n+1):
  for j in range(1,i+1):
    print("%c" %(A),end="")
  A+=1
  print('\r')

enter the no of row5
A
BB
CCC
DDDD
EEEEE